.sidebar{
    width:260px;
    border-right: 1px solid #e0e0e0;
    position: sticky;
    top:80px;
    height: calc(100vh - 80px);
    background: #f8f8f8;
}

.sidebar-section{
    margin-bottom: 25px;
}

.sidebar-title{
    color:#888;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 10px 10px;
}

.sidebar-item{
    display: block;
    color:#7a7a7a;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding:14px 25px;
    transition: 0.25s;
}

.sidebar-item:hover{
    background: #efefef;
    color: #111;
}

.sidebar-item.active{
    background: #f0f0f0;
    color:#111;
    font-weight: 600;
}